{% load static %}

<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Covid Tracer</title>
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>

  <div class="sidebar">

    <div class="logo-details">
      <span class="logo_name" style="margin-left: 30px;">Covid Tracer</span>
    </div>

    <ul class="nav-links">
      <li>
        <a href="#" class="active">
          <i class='bx bx-grid-alt' ></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-map' ></i>
          <span class="links_name">Check a location</span>
        </a>
      </li>

      <li>
        <a href="trace">
          <i class='bx bx-map-pin' ></i>
          <span class="links_name">Trace my locations</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-map-alt' ></i>
          <span class="links_name">Map View</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-bell' ></i>
          <span class="links_name">Notifications</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-message' ></i>
          <span class="links_name">Health News</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-info-circle' ></i>
          <span class="links_name">About Covid Tracer</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-user' ></i>
          <span class="links_name">My Account</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="links_name">Settings</span>
        </a>
      </li>

      <li class="log_out">
        <a href="logout">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>

  </div>
  <!--End of side bar-->


  <section class="home-section">

    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>

      <div class="profile-details">
        <span class="admin_name">{{user.username}}</span>
      </div>
    </nav>

    <div class="home-content">

      <div class="overview-boxes">

        <div class="box">
          <div class="right-side">
            <div class="box-topic">Gemma Shopping Mall Kadawatha</div>
            <div class="number">32%</div>
          </div>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">Sampath Bank ATM Mahara</div>
            <div class="number">23%</div>  
          </div>  
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">Texicon Restaurant Kiribathgoda</div>
            <div class="number">12%</div>
          </div>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">Average Infect Percentage</div>
            <div class="number">26%</div>
          </div>
        </div>

      </div>
      <!--End of overview boxes-->

      <!--Chart-->
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">My Temperatures</div>
          <div style="position: relative; width:100%;">
            <canvas id="Chart1" height="400px" ></canvas>
          </div>
        </div>
      </div>
      <!--End of chart-->

    </div>
    <!--End of home content-->

  </section>

  <!--js scripts-->
  <script>
    new Chart(document.getElementById("Chart1"), {
        type: 'line',
        data: {
          labels: ['Aug. 22, 2021, 7.01 p.m.', 'Aug. 22, 2021, 9.32 p.m.', 'Aug. 23, 2021, 12.56 p.m.'],
          datasets: [{ 
              data: [36.9, 37.2, 37.0],
              label: "Temperature Measurements",
              borderColor: "#3e95cd",
              fill: false
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            },
            maintainAspectRatio: false,
        }
    });
  </script>

  <script src="{% static 'js/main.js' %}"></script>


</body>

</html>
