{% load static %}

<!DOCTYPE html>
<html lang="en">
  
<head>
    <title>Covid Tracer</title>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
  
<body>

    <!--Header Section-->
    <header class="header">
		<h1 class="logo"><a href="#">covid tracer</a></h1>
        <ul class="main-nav">
          <li><a href="accounts/login">LOGIN</a></li>
          <li><a href="accounts/register">REGISTER</a></li>
        </ul>
	</header> 

    <!--Stat Section-->
    <div class="cards-list">
  
        <div class="card 1">
            <div class="card_title title-text">
                <p>New Cases</p>   
            </div>
            <div class="value">
                <h1>{{stat.new_cases}}</h1>
            </div>
            <div class="percentage">   
                <h4 style="color: rgb(207, 45, 45);">12% Increase</h4>    
            </div>
        </div>
        
        <div class="card 2">
            <div class="card_title title-text">
                <p>New Deaths</p>
            </div>
            <div class="value">
                <h1>{{stat.new_deaths}}</h1>
            </div>
            <div class="percentage">
                <h4>34% Increase</h4>
            </div>
        </div>
        
        <div class="card 3">  
            <div class="card_title title-text">
                <p>Cumulative Cases</p>
            </div>
            <div class="value">
                <h1>{{stat.cumulative_cases}}</h1>
            </div>
            <div class="percentage">
                <h4>34% Increase</h4>
            </div>
        </div>
          
        <div class="card 4">
            <div class="card_title title-text">
                <p>Cumulative Deaths</p>
            </div>
            <div class="value">
                <h1>{{stat.cumulative_deaths}}</h1>
            </div>
            <div class="percentage">
                <h4>34% Increase</h4>
            </div>
        </div>

    </div>
    <!--End of card list-->
    <div>
        <p style="text-align: right; margin-right:30px;">Last Update: {{stat.update_timestamp}}</p>
    </div>

    <!--charts-->
    <div style="margin-left: 30px; margin-right: 30px;">
        <h2>Active Cases</h2>
        <div class="chart-container" style="position: relative; height:60vh; width:93vw">
            <canvas id="Chart1"></canvas>   
        </div>
    </div>

    <div style="margin-left: 30px; margin-right: 30px;">
        <h2>Deaths</h2>
        <div class="chart-container" style="position: relative; height:60vh; width:93vw">
            <canvas id="Chart2"></canvas>   
        </div>
    </div>

    <div style="margin-left: 30px; margin-right: 30px;">
        <h2>Cumulative Data</h2>
        <div class="chart-container" style="position: relative; height:60vh; width:93vw">
            <canvas id="Chart3"></canvas>   
        </div>
    </div>

    <br><br>

    <script>
        var ctx = document.getElementById('Chart1').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for stat in stats %}'{{stat.update_timestamp}}',{% endfor %}],
                datasets: [{
                    label: 'Number of Cases',
                    data: [{% for stat in stats %}{{stat.new_cases}},{% endfor %}],
                    backgroundColor: [
                        'rgb(0, 0, 51)'
                    ],
                    borderColor: [
                        'rgb(0, 0, 51)'
                    ],
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                maintainAspectRatio: false,
            }
        });
    </script>

    <script>
        var ctx = document.getElementById('Chart2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for stat in stats %}'{{stat.update_timestamp}}',{% endfor %}],
                datasets: [{
                    label: 'Number of Deaths',
                    data: [{% for stat in stats %}{{stat.new_deaths}},{% endfor %}],
                    backgroundColor: [
                        'rgb(0, 0, 51)'
                    ],
                    borderColor: [
                        'rgb(0, 0, 51)'
                    ],
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                maintainAspectRatio: false,
            }
        });
    </script>

    <script>
        new Chart(document.getElementById("Chart3"), {
            type: 'line',
            data: {
              labels: [{% for stat in stats %}'{{stat.update_timestamp}}',{% endfor %}],
              datasets: [{ 
                  data: [{% for stat in stats %}{{stat.cumulative_cases}},{% endfor %}],
                  label: "Cases",
                  borderColor: "#3e95cd",
                  fill: false
                }, { 
                  data: [{% for stat in stats %}{{stat.cumulative_deaths}},{% endfor %}],
                  label: "Deaths",
                  borderColor: "#c45850",
                  fill: false
                }
              ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                maintainAspectRatio: false,
            }
        });
    </script>

</body>
  
</html>