{% load static %}

<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Covid Tracer</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <style>
        button {
          display: inline-block;
          justify-content: flex-end;
          background-color: #4f8964;
          border-radius: 10px;
          border: 4px double #cccccc;
          color: #fff;
          text-align: center;
          font-size: 20px;
          padding: 10px;
          width: 100px;
          transition: all 0.5s;
          cursor: pointer;
          margin: 5px;
        }
    </style>

</head>

<body>
  
    <section class="home-section">

        <nav>
            <div class=logo>
                <h1 style="font-size: 40px;">Covid Tracer</h1>
            </div>
            <button onclick="window.location.href='accounts/login';">Login</button> 
        </nav>

        <div class="home-content">
            <div class="overview-boxes">

                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">New Cases</div>
                        <div class="number">{{stat.new_cases}}</div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <!--<span class="text">2% Increase</span>-->
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">New Deaths</div>
                        <div class="number">{{stat.new_deaths}}</div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <!--<span class="text">10% Increase</span>-->
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Cumulative Cases</div>
                        <div class="number">{{stat.cumulative_cases}}</div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <!--<span class="text">15% Increase</span>-->
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Cumulative Deaths</div>
                        <div class="number">{{stat.cumulative_deaths}}</div>
                        <div class="indicator">
                            <!--<i class='bx bx-down-arrow-alt down'></i>-->
                            <i class='bx bx-up-arrow-alt'></i>
                            <!--<span class="text">13% Increase</span>-->
                        </div>
                    </div>
                </div>

            </div>
            <!--End of boxes-->

            <div style="margin-left: 30px;">
                <h4>Last Update: {{stat.update_timestamp}}</h4>
            </div>

            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title">New Cases</div>
                    <div style="position: relative; width:100%;">
                        <canvas id="Chart1" height="400px" ></canvas>
                    </div>
                </div>
            </div>

            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title">New Deaths</div>
                    <div style="position: relative; width:100%;">
                        <canvas id="Chart2" height="400px" ></canvas>
                    </div>
                </div>
            </div>
            
            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title">Cumulative Cases</div>
                    <div style="position: relative; width:100%;">
                        <canvas id="Chart3" height="400px" ></canvas>
                    </div>
                </div>
            </div>
            <!--End of graphs-->

            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title">Cumulative Deaths</div>
                    <div style="position: relative; width:100%;">
                        <canvas id="Chart4" height="400px" ></canvas>
                    </div>
                </div>
            </div>
            <!--End of graphs-->

        </div>
        <!--End of home-->

    </section>

    <!--js scripts-->
    <script>
        var ctx = document.getElementById('Chart1').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for stat in stats %}'{{stat.update_timestamp}}',{% endfor %}],
                datasets: [{
                    label: 'Number of Cases',
                    data: [{% for stat in stats %}{{stat.new_cases}},{% endfor %}],
                    backgroundColor: [
                        'rgb(0, 0, 51)'
                    ],
                    borderColor: [
                        'rgb(0, 0, 51)'
                    ],
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                },
                maintainAspectRatio: false,
            }
        });
    </script>
    
    <script>
        var ctx = document.getElementById('Chart2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for stat in stats %}'{{stat.update_timestamp}}',{% endfor %}],
                datasets: [{
                    label: 'Number of Deaths',
                    data: [{% for stat in stats %}{{stat.new_deaths}},{% endfor %}],
                    backgroundColor: [
                        '#c45850'
                    ],
                    borderColor: [
                        '#c45850'
                    ],
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                },
                maintainAspectRatio: false,
            }
        });
    </script>

    <script>
        new Chart(document.getElementById("Chart3"), {
            type: 'line',
            data: {
              labels: [{% for stat in stats %}'{{stat.update_timestamp}}',{% endfor %}],
              datasets: [{ 
                  data: [{% for stat in stats %}{{stat.cumulative_cases}},{% endfor %}],
                  label: "Cases",
                  borderColor: "#3e95cd",
                  fill: false
                }
              ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                },
                maintainAspectRatio: false,
            }
        });
    </script>

    <script>
        new Chart(document.getElementById("Chart4"), {
            type: 'line',
            data: {
              labels: [{% for stat in stats %}'{{stat.update_timestamp}}',{% endfor %}],
              datasets: [ { 
                  data: [{% for stat in stats %}{{stat.cumulative_deaths}},{% endfor %}],
                  label: "Deaths",
                  borderColor: "#c45850",
                  fill: false
                }
              ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                },
                maintainAspectRatio: false,
            }
        });
    </script>

</body>

</html>
