{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/form_style.css' %}">

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="wrapper">
        <div class="title">Login</div>

        <form action="login" method="POST">
        {% csrf_token %}

        <div class="field">
            <input type="text" name="username" required />
            <label>Username</label>
        </div>

        <div class="field">
            <input type="password" name="password" required />
            <label>Password</label>
        </div>

        <div class="content">
            <div class="checkbox">
                <input type="checkbox" name="remember-me" />
                <label for="remember-me">Keep me signed-in</label>
            </div>
            <div class="pass-link"><a href="forgotpassword">Forgot password?</a></div>
        </div>

        <div class="field">
            <input id="loginsubmit" type="submit" value="Login" />
        </div>

        <div class="signup-link">Not a member? <a href="register">Register Now</a></div>
        
        <div class="isa-error">
            {% for message in messages %}
            <i class="bx bx-error"></i>
            {{message}}
            {% endfor %}
       </div>

        </form>
    </div>

</body>

</html>
