{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Verify</title>
    <link rel="stylesheet" href="{% static 'css/form_style.css' %}">

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="wrapper">
        <div class="title">Enter the OTP</div>

        <form action="otp" method="POST">
        {% csrf_token %}

        {% ifnotequal digits 'na' %}

            <div>
                Enter the OTP sent to 07x-xxx-xx-{{digits}}
            </div>

            <div class="field">
                <input type="text" name="otp" required />
                <label>Enter otp</label>
            </div>

            <div class="field">
                <input type="submit" value="Submit" />
            </div>          

        {% endifnotequal %}


        <div class="isa-error">
            {% for message in messages %}
            <i class="bx bx-error"></i>
            {{message}}
            {% endfor %}
        </div>

        <div class="signup-link"><a href="otp">Resend OTP</a></div>
    
        </form>
    </div>

</body>

</html>
