{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Verify</title>
    <link rel="stylesheet" href="{% static 'css/form_style.css' %}">

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="wrapper">
        <div class="title">Enter the OTP</div>

        <form action="otp" method="POST">
        {% csrf_token %}

        <div class="field">
            <input type="text" name="otp" required />
            <label>Enter otp</label>
        </div>

        <div class="field">
            <input type="submit" value="Submit" />
        </div>

        <div class="signup-link"><a href="otp">Resend OTP</a></div>

      <!--
        {% for message in messages %}

            <div class="isa-{{message.tags}}">          
                <i class="bx bx-error"></i>
                {{message}}
            </div>

        {% endfor %}
      -->  
        {% if messages %}

            message = {{messages.first}}
            <div class="isa-{{message.tags}}">          
                <i class="bx bx-error"></i>
                {{message}}
            </div>

        {% endif %}
        

        
        </form>
    </div>

</body>

</html>
