{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/form_style.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="title">Register</div>

        <form action="register" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="field">
            <input type="text" name="nic" required />
            <label>Enter your NIC Number here</label>
        </div>

        <div class="signup-link">Please upload a clear photo of your NIC to verify your identity.</div>
        
        <div class="signup-link">
          <input type="file" name="nicimg" accept="image/*" required />    
        </div>

        <div class="field">
            <input type="submit" value="Next" />
        </div>

        <div class="signup-link">Already a member? <a href="login">Login</a></div>
        
        <div>
            {% for message in messages %}
            <p style="color: red;">{{message}}</p>
            {% endfor %}
        </div>

        </form>
    </div>

</body>

</html>
