{% load static %}

<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Covid Tracer</title>
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
table {
  border-collapse: collapse;
  table-layout: auto;
  width : 100%;
  display:table;
  margin-right:auto;
  margin-left:auto;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4f8964;
  color: white;
}
</style>

<body>

    <div class="sidebar">

        <div class="logo-details">
        <span class="logo_name" style="margin-left: 30px;">Covid Tracer</span>
        </div>

        <ul class="nav-links">
        <li>
            <a href="home">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
            </a>
        </li>

        <li>
            <a href="#">
            <i class='bx bx-map' ></i>
            <span class="links_name">Check a location</span>
            </a>
        </li>

        <li>
            <a href="#"  class="active">
            <i class='bx bx-map-pin' ></i>
            <span class="links_name">Trace my locations</span>
            </a>
        </li>

        <li>
            <a href="#">
            <i class='bx bx-bell' ></i>
            <span class="links_name">Notifications</span>
            </a>
        </li>

        <li>
            <a href="#">
            <i class='bx bx-message' ></i>
            <span class="links_name">Health News</span>
            </a>
        </li>

        <li>
            <a href="myaccount">
            <i class='bx bx-user' ></i>
            <span class="links_name">My Account</span>
            </a>
        </li>

        <li>
            <a href="#">
            <i class='bx bx-info-circle' ></i>
            <span class="links_name">About Covid Tracer</span>
            </a>
        </li>

        <li class="log_out">
            <a href="../website/bla">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
            </a>
        </li>
        </ul>

    </div>
    <!--End of side bar-->


    <section class="home-section">
    
        <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">Location Traces</span>
        </div>

        <div class="profile-details">
            <span class="admin_name">{{user.username}}</span>
        </div>
        </nav>

        <div class="home-content">

            <div class="sales-boxes">
                <div class="recent-sales box">

                    <div class="title">Traces</div>
                    <br>
                    <div class="sales-details">
                        <!--<ul class="details">
                            <li class="topic">Timstamp</li>
                            <li><a href="#">Aug. 22, 2021, 7.01 p.m.</a></li>
                            <li><a href="#">Aug. 22, 2021, 9.32 p.m.</a></li>
                            <li><a href="#">Aug. 23, 2021, 12.56 p.m.</a></li>
                        </ul>

                        <ul class="details">
                            <li class="topic">Location</li>
                            <li><a href="#">Gemma Shopping Mall Kadawatha</a></li>
                            <li><a href="#">Sampath Bank ATM Mahara</a></li>
                            <li><a href="#">Texicon Restaurant Kiribathgoda</a></li>
                        </ul>

                        <ul class="details">
                            <li class="topic">Infect Percentage %</li>
                            <li><a href="#">32</a></li>
                            <li><a href="#">23</a></li>
                            <li><a href="#">12</a></li>
                        </ul>

                        <ul class="details">
                            <li class="topic">Temperature</li>
                            <li><a href="#">36.9</a></li>
                            <li><a href="#">37.2</a></li>
                            <li><a href="#">37.0</a></li>
                        </ul>   -->
                        <table id= "tracetable" class="sales-boxes">
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Name</th> 
                            <th>Location</th>
                            <th>Infect Percentage(%)</th>
                            <th>Temperature</th>
                        </tr>
                        {% for results in TraceLocation%}
                        <tr>
                            <td>{{results.4}}</td>
                            <td>{{results.5}}</td>
                            <td>{{results.0}}</td>
                            <td>{{results.1}}</td>
                            <td>{{results.2}}</td>
                            <td>{{results.3}}</td>

                        </tr>
                        {% endfor %}

                        </table>


                    </div>
                    
                </div>
            </div>
            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div style="position: relative; ">
                    <div id= 'map' style="height:600px; width:100%;"></div>
                </div>
            </div>

        </div>
        <!--End of table-->

    </section>

    <script src="{% static 'js/main.js' %}"></script>

    <script>
        function initMap(){

            var option = {
                zoom:10,
                center: { lat:  6.927079, lng: 79.861244 }
            }

            var map = new
            google.maps.Map(document.getElementById('map'), option);


            for(var i = 1;i<document.getElementById("tracetable").rows.length ;i++){
                   
                ( async () => {
                    var x = document.getElementById("tracetable").rows[i].cells; 
                    const data = await findcod(x[3].innerHTML);
                    var myLatlng = new google.maps.LatLng(data[0],data[1]);
                    addMarker(myLatlng,x[2].innerHTML,Math.trunc(x[4].innerHTML) + "%");
                })(); 

            }
            function addMarker(details,place,perc){

                var marker = new google.maps.Marker({
                position: details,
                map: map,
                label: {
                    text: perc,
                    color: "black",
                    fontWeight: "bold",
                    fontSize: "20px"
                    }
          
                });
                
                var infowindow = new google.maps.InfoWindow({
                content: place
                });

                marker.addListener('mouseover',function(){
                    infowindow.open(map,marker);
                });

            }
 
            async function findcod(address){
                var url = "https://nominatim.openstreetmap.org/search?format=json&limit=3&q=" + address
                const response = await fetch(url);
                var data = await response.json();
                var lat = data[0].lat;
                var lon = data[0].lon;
                return [lat,lon];
            }

        }
  
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-3hs6rtVoYEnO8Dfnp9-RhbJ-xdW9hT8&callback=initMap">
    </script>
</body>

</html>
